apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-container
        image: google-prep-app:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8080